# dir
target/**
bin/**
gen/**
.settings
# built application files
*.apk
*.ap_
# files for the dex VM
*.dex
# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

libs/**
buildlog.log
log.log
ant.properties